/AdditionTest.class
/ArraysCompareTest.class
/AssertDemo.class
/AssumptionDemo.class
/DisabledClassDemo.class
/FirstTestDemo.class
/HelloWorldTest.class
/JUnit5DynamicTests.class
/MyExecutable.class
/ParameterizedTestDemo.class
/ProductionTest.class
/RepeatingTest.class
/SourceAnnotationDemo.class
/TestLifeCycle.class
