/GenericClass.class
/GenericClassTest.class
/GenericConstructors.class
/GenericConstructorsDemo.class
/GenericInterfaceDemo.class
/GenericMethod.class
/GenericMethodTest.class
/LowerBoundedWildCard.class
/LowerBoundedWildCardDemo.class
/MinMax.class
/MinMaxImpl.class
/Person.class
/Sender.class
/SenderDemo.class
/UnBoundedWildCard.class
/UnBoundedWildCardDemo.class
/UpperBoundedWildCard.class
/UpperBoundedWildCardDemo.class
