/Cube.class
/Display.class
/IStatement.class
/IsOdd.class
/LambdaCollection.class
/LambdaExpWithParameter.class
/LambdaWithoutParameter.class
/Message.class
/Student.class
/UsingFunctionalInterfaces.class
/WithoutLambdaExpr$1.class
/WithoutLambdaExpr.class
